<h1 class="textcenter margin-top40">Leads</h1>

<div class="container margin-bottom40">
  <%= render 'shared/error_messages' %>
  <table id="leads-table" class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <td><%= lead.id %></td>
          <td><%= lead.name %></td>
          <td><%= lead.email %></td>
          <td><%= link_to 'Excluir', lead, method: :delete, data: { confirm: 'Tem certeza disso?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
