<h1 class="textcenter margin-top40">Posts</h1>

<div class="container margin-bottom40">
<%= render 'shared/error_messages' %>
<table id="posts-table" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td><%= post.image %></td>
        <td><%= link_to 'Exibir', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Criar um Post', new_post_path, class: 'btn btn-custom right'%>

</div>

