
<div class="container margin-top50">
    <article class="blogpost">
        <div class="overlay-container">
            <img src="/assets/content/blog/<%= @post.image %>" alt="">
            <a class="overlay-link popup-img-single" href="/assets/content/blog/<%= @post.image %>"><i class="fa fa-search-plus"></i></a>
        </div>
        <header>

            <h2><%= @post.title %></h2>
            <div class="post-info">
                <span class="post-date">
                    <i class="icon-calendar"></i>
                    <span class="day"><%= @post.created_at.strftime("%d") %></span>
                    <span class="month"><%= I18n.l(@post.created_at, format: "%B %Y") %></span>
                </span>
                <span class="submitted"><i class="icon-user-1"></i> por <a href="#"><%= @post.author %></a></span>
                <div class="fb-like" data-href="https://www.facebook.com/popcontentblog/"
                data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            </div>
        </header>
        <div class="blogpost-content">
            <p><%= @post.content.html_safe %></p>
        </div>
    </article>
    <%= render 'shared/bottom_banner' %>
</div>

