<div class="container margin-top50">
    <article class="blogpost">
        <div class="overlay-container">
            <img src="/assets/content/blog/<%= @post.image %>" alt="">
            <a class="overlay-link popup-img-single" href="/assets/content/blog/<%= @post.image %>"><i class="fa fa-search-plus"></i></a>
        </div>
        <header>

            <h2><%= @post.title %></h2>
            <div class="post-info">
                <span class="post-date">
                    <i class="icon-calendar"></i>
                    <span class="day"><%= @post.created_at.strftime("%d") %></span>
                    <span class="month"><%= I18n.l(@post.created_at, format: "%B %Y") %></span>
                </span>
                <span class="submitted"><i class="icon-user-1"></i> por <a href="#"><%= @post.author %></a></span>
                <div class="fb-like" data-href="https://www.facebook.com/popcontentblog/"
                data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            </div>
        </header>
        <div class="blogpost-content">
            <p><%= @post.content.html_safe %></p>
        </div>
    </article>
</div>

<%= link_to('#', data: {target: '#modalPopUp', toggle: 'modal'}) do %>
  <%= image_tag('/assets/low_banner.png') %>
<%end%>

<div class="modal fade" tabindex="-1" role="dialog" id='modalPopUp'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="http://arianapaz.com.br/popcontent/pop-content-logo-02.png"/>
      </div>
      <div class="modal-body" style="background-color:#488ABF; padding:20px; color:#fff; font-family: Source Sans Pro, Arial, Helvetica, sans-serif">
      <img src="http://arianapaz.com.br/popcontent/pop-content-ebook-mini.png" style="float:right;"/>
        <h2>Você já ouviu falar de técnicas de marketing, mas não tem ideia de como elas funcionam?</h2>
        <p>O nosso eBook foi feito pensando em você. Com um texto simplificado, dicas práticas para descomplicar o marketing e ajudar a aumentar suas vendas.</p>
        <form method="post" action="#" id="form-subscribe" class="form-group form-subscribe">
                        <input type="text" name="lead[email]" id="lead_email" placeholder="E-mail *" />
                        <input type="submit" name="submit" value="Quero consultoria">
                    </form>
      </div>