<!-- main-container start -->
<!-- ================ -->
<section class="pv-40 bg-room-right">
    <div class="container pv-40">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-40">
                <div class="object-non-visible pv-40 animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">
                    <h1 class="page-title text-center logo-font">Receba <span class="pop-organge">gratuitamente</span> uma <span class="pop-organge">consultoria</span> de marketing pelo Whatsapp.</h1>
                    <p>Inscreva seu e-mail, ganhe um e-book e nosso contato para consultoria.</p>
                    <form method="post" action="#" id="form-subscribe" class="form-group form-subscribe">
                        <input type="text" name="lead[email]" id="lead_email" placeholder="E-mail *" />
                        <input type="submit" name="submit" value="Quero consultoria">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-container">

    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <!-- timeline grid start -->
                <!-- ================ -->
                <div class="timeline clearfix">

                    <div class="timeline-date-label clearfix">Maio 2016</div>
                    <% @posts.each do |post| %>
                        <!-- timeline grid item start -->
                        <div class="timeline-item <%= cycle('pull-right', '') -%>">
                            <!-- blogpost start -->
                            <article class="blogpost shadow light-gray-bg bordered">
                                <div class="overlay-container">
                                    <img src="/assets/content/blog/<%= post.image %>" alt="">
                                    <%= link_to post, class: 'overlay-link' do%>
                                        <i class="fa fa-link"></i>
                                    <% end %>
                                </div>
                                <header>
                                    <h2><%= link_to post.title, post %></h2>
                                    <div class="post-info">
                                        <span class="post-date">
                                            <i class="icon-calendar"></i>
                                            <span class="day"><%= post.created_at.strftime("%d") %></span>
                                            <span class="month"><%= I18n.l(post.created_at, format: "%B %Y") %></span>
                                        </span>
                                        <span class="submitted"><i class="icon-user-1"></i> por <a href="#"><%= post.author %></a></span>
                                    </div>
                                </header>
                                <div class="blogpost-content">
                                    <p><%= truncate_html(post.content, length: 350, separator: ' ', omission: '...') %></p>
                                </div>
                                <footer class="clearfix">
                                    <div class="link pull-right"><i class="icon-link"></i><%= link_to 'Read More', post %></div>
                                </footer>
                            </article>
                            <!-- blogpost end -->
                        </div>
                        <!-- timeline grid item end -->
                    <% end %>

                </div>
                <!-- timeline grid end -->

            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<%= link_to(root_path) do %>
  <%= image_tag('/assets/low_banner.png') %>
<%end%>
