<!DOCTYPE html>
<%= render 'layouts/shev' %>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="PopContent Marketing Digital" />
  <meta name="keywords" content="market, redes, sociais, publico, alvo, digital,
  empreendedor, empreendedorismo, Whatsapp, inbound, vendas, internet, marketing, lojas,
  aumentar, consultoria, digital, ebook, ecommerce, empresa, inovação, interação, marketing,
  popcontent, sucesso, tecnologia, transformar, vendas, visibilidade" />
  <meta name="author" content="Popcontent" />

  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '855943844510534');
  fbq('track', "PageView");
  fbq('track', 'Lead');
  fbq('track', 'ViewContent');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=855943844510534&ev=PageView&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= render 'modals/ebook' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= debug(params) if Rails.env.development? %>
</script>
</body>
</html>
